<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pmm.ui">

    <application
        android:allowBackup="false"
        android:supportsRtl="true">
        <!-- enable secure browser mode -->
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />
        <!-- 适配18：9 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

    </application>
</manifest>
