<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.weimu.app.universalview">

    <application
        android:name=".AppData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- file uri provider -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>


        <activity android:name=".module.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".module.kotlin.coroutines.CoroutineActivity" />
        <activity android:name=".module.kotlin.KotlinActivity" />
        <activity android:name=".module.lib3.Lib3Activity" />
        <activity android:name=".module.lib3.materialdialog.MaterialDialogActivity" />
        <activity android:name=".module.lib3.eventbus.EventBusActivity" />
        <activity android:name=".module.lib3.eventbus.EventBusSecActivity" />
        <activity android:name=".module.java.JavaActivity" />
        <activity android:name=".module.java.pattern.PatternActivity" />
        <activity android:name=".module.datapersistence.DataPersistenceActivity" />
        <activity android:name=".module.datapersistence.cache.CacheActivity" />
    </application>

</manifest>