<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pmm.demo.advanced">

    <application
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity android:name=".AndroidAdvancedAy" />
        <activity android:name=".binder.ServiceActivity" />

        <!--使用Binder的服务-->
        <service android:name=".binder.ServiceWithBinder">
            <intent-filter>
                <action android:name="com.pmm.demo.advanced.binder.normal" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!--使用AIDL的服务-->
        <service android:name=".binder.ServiceWithAIDL">
            <intent-filter>
                <action android:name="com.pmm.demo.advanced.binder.aidl" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!--使用Messenger的服务-->
        <service android:name=".binder.ServiceWithMessenger"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.pmm.demo.advanced.binder.messenger" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>